.gfield_repeater_cell{
  display: inline-block;
}

.ginput_container_text, .ginput_container_number, .ginput_container, .gfield_label  {
	display: block;
}

.tenure-list {
  height: 0px;
  opacity: 0;
  width: 0px;
  overflow: hidden;
  display: none;
  padding: 10px;
  border: 1px solid;
}

.show {
  display:block;
  height:auto;
  width: 400px;
  opacity: 1;
  z-index: 2000;
  position: absolute;
  background: white;
  left: 10vw;
}

.extras {
  display: none;
}

.chosen {
  background-color: #bdf1ba;
}

.tenure-list li {
  list-style-type: none;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
  padding: 10px 20px;
  transition: all .4s;
  word-wrap: normal;
}

.tenure-list li:hover {
  background-color: #bdf1ba;
  cursor: pointer;
}

.tenure-record div {
	border-bottom: 1px solid #efefef;
	padding: 10px;
	margin-bottom: 8px;
}


/*jquery autocomplete ui styling*/

#ui-id-1 ul, .ui-autocomplete {
  list-style-type: none;  
  padding-left: 0;
  margin-left: 0;
  border: 1px solid #000;
  padding: 5px;
  display: block;
  width: 220px;
  background-color: #fff;
}

#ui-id-1 li {
  display: block;
  padding: 7px 10px;
  width: 200px;
  border-bottom: 1px solid #efefef;
}

#ui-id-1 li:hover, #ui-id-1 li:focus {
    background-color: #bdf1ba;
    cursor: pointer;
}

