.gfield_repeater_cell{
  display: inline-block;
}

.ginput_container_text, .ginput_container_number, .ginput_container, .gfield_label  {
	display: block;
}

.show {
  display:block;
  height:auto;
  width: 400px;
  opacity: 1;
  z-index: 2000;
  position: absolute;
  background: white;
  left: 1vw;
}

.extras {
  display: none;
}

.chosen {
  background-color: #bdf1ba;
}


.tenure-record div {
	border-bottom: 1px solid #efefef;
	padding: 10px;
	margin-bottom: 8px;
}

#gform_submit_button_1 {
  width: 300px;
  display: block;
  padding: 10px;
  border-radius: 6px;
  background-color: #000;
  color: #fff;
  transition: all .3s;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 1.2em;
}

#gform_submit_button_1:hover {
  background-color: #424242;
  cursor: pointer;
}

button.info {
  font-size: 2em;
  float: right;
  border: none;
  display: block;
}

button.info:hover {
  cursor: pointer;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,.3);
}


.delete {
  border: none;
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  margin-left: 20px;
  border-radius: 50%;
  float:right;
  line-height: 15px;
  text-align: center;
}

.delete:hover {
  cursor: pointer;
  background-color: #b70707;
}

.mark-for-deletion {
  background-color: red;
}

#all-data {
  margin: auto;
}

#all-data td, #all-data th {
  padding: 10px;
}

#all-data tr {
  border: 1px solid;
}

/*jquery auto complete land*/

.ui-menu-item {
   border-bottom: 1px solid #424242 !important;
}

.ginput_container_text #ui-id-1 ul, .ui-autocomplete {
  width: 340px;
  background-color: #fff;
}

.ginput_container_number #ui-id-1 ul, .ginput_container_number .ui-autocomplete {
  width: 140px;
  background-color: #fff;
}

/*conditional show for presentations*/

.hide {
  height: 0;
  overflow:  hidden;
}

.society-box {
  width: 100%;
  background-color: #efefef;
  border-radius: 30px;
  display: block;
  margin:  0 auto;
  text-align: center;
  overflow: auto;
}

#input_1_1009-0 .gchoice_1_1009_1 {
  float: right;
  margin-top: 3px;
}

.society-box .gfield_label {
  text-align: left;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

#choice_1_1009_1-0 {
  margin-top: 0;
}

.society-box .ginput_container_checkbox {
  display: inline-block;
  float: left;
}

#gform_1 .society-box .ginput_container_checkbox {
  margin-top: -3px;
}

.society-options {
  margin:  0 auto;
  width:  100%;
}

#input_1_1010-0 li {
  margin-bottom: 20px;
  transition: all .3s ease;
  width: 90%;
}

#input_1_1010-0 li:hover {
  background-color: #bdf1ba;
}

#input_1_1010-0 label {
  line-height: 1.2em;
  padding-top: 5px;
  width: 90%;
}

.gfield_repeater_cell:nth-of-type(10), .gfield_repeater_cell:nth-of-type(12) {
  width: 80%;
}

#gform_wrapper_1 {
  display: none;
}

.highlight {
  background-color:  red;
}

.gfield_radio div {
  line-height: 1.2;
  margin-bottom: 8px;
  transition: all .6s ease;
}

.gfield_radio div:hover {
  background-color: #efefef;
}

.entry-content h2, .entry-content h3 {
  margin-top:  40px;
}

.submit-again{
  padding:  7px 12px;
  border-radius: 30px;
  background-color:  #424242;
  font-size: 1.4rem;
  color: #fff;
  display: block;
  margin:  15px auto;
  text-align: center;
  max-width: 80%;
  transition: all .6s ease;
}

.submit-again:hover {
  background-color: green;
  color: #fff;
  text-decoration: none;
}